:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

.form-item {
  margin-bottom: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-item.success input {
  border-color: var(--success-color);
}

.form-item.error input {
  border-color: var(--error-color);
}

.form-item small {
  color: var(--error-color);
  visibility: hidden;
}

.form-item.error small {
  visibility: visible;
}
